@font-face {
  font-display: swap;
  font-family: Montserrat-Black;
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.woff");
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: Montserrat-Thin;
  src: url("../fonts/Montserrat/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: OpenSansBold;
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.svg");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: OpenSansLight;
  src: url("../fonts/OpenSans-Light/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light/OpenSans-Light.svg");
  src: url("../fonts/OpenSans-Light/OpenSans-Light.ttf");
  src: url("../fonts/OpenSans-Light/OpenSans-Light.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: OpenSans;
  src: url("../fonts/OpenSans/OpenSans.woff2");
  src: url("../fonts/OpenSans/OpenSans.ttf");
  src: url("../fonts/OpenSans/Opensans.woff");
  font-style: normal;
  font-weight: normal;
}
