@mixin small {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin bigMobile{
  @media screen and (min-width: 370px){
    @content;
  }
}

@mixin designMobile{
  @media screen and (min-width: 410px){
    @content;
  }
}

@mixin untilTablet{
  @media screen and (min-width: 500px){
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 767px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1170px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1440px){
    @content;
  }
}


@mixin designDesktop{
  @media screen and (min-width: 1600px){
    @content;
  }
}


@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

@mixin defaultPseudo{
  display: block;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes shrink {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}
