@import "../../scss/misc/fonts";
@import "../../scss/misc/env";
@import "../../scss/misc/mixins";
@import "../../scss/misc/common";
@import "../../scss/misc/adjustment";
@import "../../scss/misc/normalize";

@import "../../components/header/headerStyle";
@import "../../components/footer/footerStyle";

.contacts {
    .main {
        background-color: #f5f5f5;
    }

    .contacts__title {
        text-transform: uppercase;
    }

    .contacts__intro {
        background-image: url("../images/contacts/contacts__bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 36px;
        padding-bottom: 55px;
        transition: all 0.5s ease-in;

        &.Ukraine {
            background-image: url("../images/contacts/contacts__ua.jpg");
        }

        &.russia {
            background-image: url("../images/contacts/contacts__ru.jpg");
        }

        .container {
            background-color: transparent;
        }
    }

    .contacts__info {
        &_item {
            position: absolute;
            transform: translateX(-200%);
            transition: all 0.5s ease;

            &.active {
                position: relative;
                transform: translateX(0);
            }
        }
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .contacts__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        @include tablet {
            flex-direction: row;
            align-items: initial;
            min-height: 250px;
        }
    }

    .contacts__list_item {
        background-color: transparent;
        border: 2px solid #b4b4b4;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 20px;
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        @include tablet {
            min-width: 31%;
            max-width: 370px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 40px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: initial;

            &:nth-child(1) {
                .contacts__sublist {
                    max-width: 150px;

                    &:not(:last-of-type) {
                        margin-right: 20px;
                    }
                }
            }

            &:nth-child(2) {
                .contacts__sublist {
                    .contacts__sublist_item_text {
                        padding-left: 10px;
                    }
                }
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 40px;
            transform: translateY(-50%);
            z-index: 10;
            width: 40px;
            height: 40px;
            content: "";
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include tablet {
                width: 60px;
                height: 60px;
            }
        }

        &:not(:last-of-type) {
            margin-bottom: 30px;

            @include tablet {
                margin-right: 30px;
                margin-bottom: 0;
            }
        }

        &:nth-child(1)::before {
            background-image: url("../images/contacts/contacts__phone.svg");
        }

        &:nth-child(2)::before {
            background-image: url("../images/contacts/contacts__location.png");
        }

        &:nth-child(3)::before {
            background-image: url("../images/contacts/contacs__email.png");
        }

        &:nth-child(2) {
            .contacts__sublist {
                .contacts__sublist_item_text {
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #ba0c2f;
                        margin-right: 10px;
                    }
                }
            }
        }

        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .contacts__sublist {
                margin-bottom: 10px;
                .contacts__sublist_item_text {
                    padding-left: 10px;
                }
            }
        }

        .contacts__sublist {
            p,
            a,
            span {
                text-align: center;
            }
        }
    }

    .contacts__sublist_item_text {
        font-family: OpenSans, sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        text-align: center;
    }

    .contacts__sublist {
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        font-family: OpenSans, sans-serif;

        .contacts__sublist_item {
            display: flex;
            flex-direction: column;

            span {
                display: block;
                margin-bottom: 5px;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        a {
            color: #fff;
            transition: all 0.3s ease-in-out;
            padding-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:visited {
                color: #fff;
            }

            &:hover {
                opacity: 0.9;
                text-decoration: underline;
            }
        }
    }

    .contacts__socialList {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        .contacts__sublist_item {
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-right: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(1) {
                background-image: url("../images/icons/instagram.svg");
            }

            &:nth-child(2) {
                background-image: url("../images/icons/facebook.svg");
            }

            &:nth-child(3) {
                background-image: url("../images/icons/youtube.svg");
            }

            .contacts__sublist_link {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    .contacts__form {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url("../images/contacts/contacts__form.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: OpenSans, sans-serif;
        margin-bottom: 50px;
        border-radius: 15px;

        @include tablet {
            margin-bottom: 80px;
        }

        .contacts__form_title {
            margin-bottom: 10px;
        }

        .contacts__form_subtitle {
            color: #c8c5c5;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            font-family: OpenSansBold, sans-serif;
            margin-bottom: 10px;
            text-align: center;

            @include tablet {
                font-size: 20px;
                line-height: 27px;
            }
        }

        .contacts__form_input {
            background: #ffffff;
            border-radius: 30px;
            width: calc(100% - 20px);
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 10px;
            outline: none;
            appearance: none;

            @include tablet {
                max-width: 400px;
                min-width: 400px;
            }

            &:not(:last-of-type) {
                margin-bottom: 15px;
            }

            @include placeholder {
                color: #b4b4b4;
                font-size: 12px;
                line-height: 16px;
                font-family: OpenSans, sans-serif;
            }
        }

        .contacts__form_input-submit {
            background: #ba0c2f;
            border-radius: 30px;
            width: 130px;
            height: 30px;
            margin: 0 auto;
            outline: none;
            border: none;
            color: #ffffff;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
        }

        .contacts__form_label {
            width: calc(100% - 20px);
            margin: 0 auto;
            color: #ffffff;
            font-size: 12px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;

            @include tablet {
                max-width: 400px;
                align-items: center;
            }
        }

        .contacts__form_input-checkbox--wrapper {
            width: 10px;
            height: 11px;
            margin-right: 11px;
        }
    }

    #map {
        display: block;
        height: 300px;
        margin-bottom: 50px;
        width: calc(100vw + 20px);
        left: -20px;

        @include tablet {
            height: 378px;
            margin-bottom: 80px;
            width: 100%;
            left: 0;
        }
    }

    .contacts__mapController {
        box-sizing: border-box;
        display: inline-flex;
        margin-bottom: 50px;
        width: 100%;
        background: #ffffff;
        border-radius: 30px;
        min-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 auto;

        @include tablet {
            max-width: 380px;
        }

        .contacts__mapController_btn {
            border: none;
            outline: none;
            appearance: none;
            font-size: 15px;
            line-height: 20px;
            color: #000000;
            font-family: OpenSans, sans-serif;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 20px;
            border-radius: 30px;
            background-color: #ffffff;
            transition: all 0.3s ease-in-out;

            @include tablet {
                margin-right: 30px;
                padding-left: 15px;
                padding-right: 15px;
            }

            &.active {
                background-color: #ba0c2f;
                border: 1px solid #ba0c2f;
                border-radius: 30px;
                color: #fff;
            }

            &:hover {
                cursor: pointer;
                background-color: #ba0c2f;
                color: #fff;
            }
        }
    }
}
