@import "../../sass/misc/env";
@import "../../sass/misc/mixins";
@import "../../sass/misc/fonts";


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.5s ease;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        position: relative;
    }

    .header__nav{
        display: none;

        &.active{
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            flex-direction: column;
            width: 100vw;
            margin-left: calc(50% - 50vw);
            background: rgba(200, 197, 197, 0.26);
            backdrop-filter: blur(18px);
            border-radius: 15px;
            padding-top: 80px;
            padding-bottom: 10px;

            .header__nav_item{
                text-align: left;
                padding-left: 10px;

                &:not(:last-of-type){
                    margin-bottom: 15px;
                }
            }
        }

        @include tablet{
            display: flex;
        }
    }

    &__logo{
        max-width: 100px;
        max-height: 65px;
        z-index: 2;

        &_link{
            display: block;
            width: 100%;
            height: 100%;

            &_img{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }
    }
}
.header__menu_mob {
    height: 10px;
    width: 30px;
    -webkit-tap-highlight-color: transparent;
    z-index: 111
}

@media screen and (min-width: 767px) {
    .header__menu_mob {
        display:none
    }
}

.header__menu_mob .header__menu_mob-btn {
    background: 0 0;
    position: relative;
    height: 10px;
    width: 30px;
    display: inline-block;
}

.header__menu_mob .header__menu_mob-btn.active{
    height: 33px;
}

.header__menu_mob .header__menu_mob-btn:after,.header__menu_mob .header__menu_mob-btn:before {
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "";
    height: 3px;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100%;
    -webkit-border-radius: 20px;
    border-radius: 20px
}

.header__menu_mob .header__menu_mob-btn:after {
    position: absolute;
    width: 15px;
    left: 50%;
    bottom: 0px;
}

.header__menu_mob .header__menu_mob-btn:before {
    position: absolute;
    top: 0
}

.header__menu_mob:hover {
    cursor: pointer
}

.header__menu_mob.active .header__menu_mob-btn:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    transform: rotate(45deg);
}

.header__menu_mob.active .header__menu_mob-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.header__nav_item{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    position: relative;
    font-family: OpenSansBold, sans-serif;

    &:not(:last-of-type){
        margin-right: 20px;
    }

    a{
        color: #fff;
        text-shadow: 3px 2px 4px rgba(35, 33, 38, 0.96);
    }

    ul{
        opacity: 0;
        position: absolute;
        bottom: -5px;
        transform: translateY(100%);
        left: 0;
        background: rgba(67, 67, 67, 0.5);
        backdrop-filter: blur(15px);
        // filter: blur(10px);
        border-radius: 7px;
        flex-direction: column;
        align-items: flex-start;
        min-width: 170px;
        padding: 15px;
        display: flex;
        transition: all 0.4s ease-in-out;
    }

    &:hover{
        ul{
            opacity: 1;
        }
    }
}

.default-state{

}

.scroll-down{
    .header{
        transform: translateY(-100%);
    }
}

.scroll-up{
    .header{
        background-color:#BA0C2F;
    }
}

.scrolled-view{
    .header{
        background-color:#BA0C2F;
    }
}

.header__lang{
    display: none;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-family: OpenSans, sans-serif;

    @include tablet{
        display: flex;
    }

    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }

    &::after{
        display: block;
        margin-left: 11px;
        content: url('../img/icons/arrow__right.svg');
        width: 8px;
        height: 4px;
    }
}

.swiper-container-fade {
    &.swiper-container-free-mode {
      .swiper-slide {
        transition-timing-function: ease-out;
      }
    }
    .swiper-slide {
      pointer-events: none;
      transition-property: opacity;
      .swiper-slide {
        pointer-events: none;
      }
    }
    .swiper-slide-active {
      &,
      & .swiper-slide-active {
        pointer-events: auto;
      }
    }
  }