<header class="header" id="header">
    <div class="container" id="header__container">
        <div class="header__logo">
            <a href="index/" class="header__logo_link">
                <img src="img/icons/logo.svg" alt="logo" class="header__logo_link_img">
            </a>
        </div>

        <nav class="header__nav">
            <ul class="nav__list" id="nav__list">
                <li class="header__nav_item">
                    <a href="index/" class="header__nav_item_link">ГЛАВНАЯ</a>
                </li>
                <li class="header__nav_item">
                    <a href="aboutUs/" class="header__nav_item_link">О НАС</a>
                </li>
                <li class="header__nav_item">
                    <a href="projects/" class="header__nav_item_link">ПРОЕКТЫ</a>
                    
                </li>
                <li class="header__nav_item">
                    <span class="header__nav_item_link">LIVE-ВИДЕО </span>
                    <ul class="header__sublist">
                        <li class="header__sublist_item">
                            <a href="FourSeasonsGudauri/" class="header__sublist_item_link">Four Seasons Гудаури - Новый Гудаури</a>
                        </li>
                        <li class="header__sublist_item">
                            <a href="BambooBeachTsikhisdziri/" class="header__sublist_item_link">Bamboo Beach Tsikhisdziri Цихисдзири</a>
                        </li>
                    </ul>
                </li>
                <li class="header__nav_item">
                    <a href="investors/" class="header__nav_item_link">ИНВЕСТОРАМ</a>
                </li>
                <li class="header__nav_item">
                    <a href="blog/" class="header__nav_item_link">БЛОГ</a>
                </li>
                <li class="header__nav_item">
                    <a href="contact/" class="header__nav_item_link">КОНТАКТЫ</a>
                </li>
            </ul>

            <div class="header__langListWrap">
                <p class="header__langList_active">RU</p>
                <ul class="header__langList">
                    <li class="header__langList_item active">
                        <a href="/" class="header__langList_link ">RU</a>
                    </li>
                    <li class="header__langList_item">
                        <a href="ge/" class="header__langList_link">GE</a>
                    </li>
                    <li class="header__langList_item">
                        <a href="en/" class="header__langList_link">EN</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="header__menu_mob" id="header__menu_mob">
            <a href="#" id="header__menu_mob-btn" class="header__menu_mob-btn"></a>
        </div>
    </div>
</header>