@import "../../scss/misc/env";
@import "../../scss/misc/mixins";
@import "../../scss/misc/fonts";

.footer{
    .container{
        @include tablet{
            padding-top: 30px;
            padding-bottom: 20px;
        }
    }

    background-color: #070707;
    color: #C8C5C5;
    font-family: OpenSans, sans-serif;

    .footer__logo_link{
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        max-width: 80px;
        max-height: 65px;

        @include tablet{
            justify-content: flex-start;
        }

        &-img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .footer__list{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
        }

        .footer__list_item{
            width: 100%;
            padding-right: 20px;
            padding-bottom: 25px;
            

            &:not(:last-of-type){
                border-bottom: 2px dotted #909090;
            }

            &:not(:first-of-type){
                padding-top: 25px;
                padding-left: 20px;
            }

            @include tablet{
                padding-top: 0;
                padding-bottom: 0;

                &:not(:first-child),
                &:not(:last-child){
                    border-right: 2px dotted #909090;
                    border-bottom: 0;
                }
            }

            .footer__descr{
                font-size: 14px;
                line-height: 19px;
                color: #C8C5C5;
                
                margin-bottom: 23px;
                display: block;
                text-align: center;

                @include tablet{
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 50px;
                    text-align: left;
                }
            }

            .contacts__widget{
                align-items: center;
                margin-bottom: 23px;

                @include tablet{
                    align-items: flex-start;
                }
            }

            .footer__nav,
            .footer__projectList{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &_item{
                    &:not(:last-child){
                        margin-bottom: 15px;

                        @include tablet{
                            margin-bottom: 20px;
                        }
                    }

                    
                }
            }

            .contact__form{
                background: #25282B;
                max-width: 270px;
                min-width: 270px;
                margin: 0 auto;
                
            }
        }

    }

    .footer__copyright{
        font-size: 14px;
        line-height: 19px;
        margin-top: 10px;
        color: #6A6A6A;
        text-align: center;
        
        @include tablet{
            text-align: left;
        }
    }
}